@tailwind base;
@tailwind components;
@tailwind utilities;

.mask-star-2 {
  mask: url("/star.svg");
  -webkit-mask: url("/star.svg");
  mask-size: cover;
  -webkit-mask-size: cover;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }

  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Add this to your global CSS file */
  .scrollable {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #4a5568 #e2e8f0; /* Firefox */
  }

  .scrollable::-webkit-scrollbar {
    height: 8px; /* Horizontal scrollbar height */
  }

  .scrollable::-webkit-scrollbar-thumb {
    background-color: #4a5568; /* Scrollbar thumb color */
    border-radius: 4px;
  }

  .scrollable::-webkit-scrollbar-track {
    background-color: #e2e8f0; /* Scrollbar track color */
    border-radius: 20px;
  }
}
